$white: #ffffff;
$black: #000000;
$dark-2: #2c2c2c;
$dark-3: #343434;
$light-blue: #4494a6;
$light-blue-2: #ddeff4;
$light-blue-3: #f5f9fa;
$light-blue-4: #eef5f7;
$light-grey: #fbfbfb;
$yellow: #ffda51;
$yellow-2: #fce9a5;
