.swipe-enter-active,
.swipe-leave-active {
  transition-property: all;
  transition-timing-function: cubic-bezier(.5,0,.5,1);
  transition-duration: 500ms;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 9999999;
}
.swipe-leave {
  transform: translateX(0%);
}
.swipe-leave-to {
  transform: translateX(100%);
}
.swipe-enter {
  transform: translateX(100%);
}
.swipe-enter-to {
  transform: translateX(0%);
}
